
<form action="/api/login" method="post">
Username: <input type="text" name="Username" id="Username">
Password: <input type="password" name="password" id="password">
<input type="submit" value="Login">


</form>